.main {
  display: flex;
  justify-content: space-between;
}
.box {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
}
.sub {
  display: flex;
}
.div2 {
  margin-right: 5px;
}
.div3 {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
}

.main-v2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.box-v2 {
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
}
.div2-v2 {
  align-self: center;
}
.div3-v2 {
  align-self: flex-end;
}
